<div style="border: 1px solid dimgrey; margin: 5px; padding: 10px">
    <form action="/add" method="post">
        <div>Имя</div>
        <label><input type="text" name="name"/></label>
        <div>Телефон</div>
        <label><input type="text" name="phone"/></label>
        <div>
            <input type="submit" value="Добавить"/>
            {{{buttonCancel cancelText}}}
        </div>
    </form>
</div>